.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-top: 0.5rem;
}

.message__info {
  margin-left: 20px;
  width: 100%;
}

.message__timestamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}

.message:hover {
  background-color: #32353b;
}

.message__menu {
  background-color: #3a3e44;
  position: absolute;
  right: 30px;
  top: -10px;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
}
.delete__icon {
  color: #c03537;
  padding: 0.2rem;
  cursor: pointer;
}
.delete__icon:hover {
  color: #a72f31;
}
.edit__icon {
  color: #808183;
  padding: 0.2rem;
  cursor: pointer;
}
.edit__icon:hover {
  color: #666363;
}

.edit__input__box {
  background-color: #40444b;
  border-radius: 5px;
  width: 97%;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  margin-top: 0.2rem;
}

.edited__span_message {
  color: gray;
  font-size: 0.7rem;
}

.edit__instructions {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.edit__instructions_link {
  color: #5880ec;
  cursor: pointer;
}
.edit__instructions_link:hover {
  text-decoration: underline;
}
