.sidebarChannel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebarChannel:hover {
  background-color: #40464b;
  cursor: pointer;
}

.sidebarChannel:hover > h4 {
  color: #fff;
}
.sidebarChannel > h4 {
  display: flex;
  padding-left: 15px;
  color: #808080;
  align-items: center;
}

.sidebarChannel__hash {
  font-size: 30px;
  padding: 8px;
}

.sidebarChannel > .MuiSvgIcon-root {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #c03537;
}
